source /boot/grub/config.cfg

# Live boot
menuentry "Probar o instalar BullOS" --hotkey=l {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@
	initrd	@INITRD_LIVE@
}
menuentry "BullOS (modo gráfico seguro)" {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@ nomodeset
	initrd	@INITRD_LIVE@
}

# You can add more entries like this
# menuentry "Alternate live boot" {
# linux @KERNEL_LIVE@ @APPEND_LIVE@ custom options here
# initrd @INITRD_LIVE@
# }
# menuentry "Alternate graphical installer" {
# linux @KERNEL_GI@ @APPEND_GI@ custom options here
# initrd @INITRD_GI@
# }
# menuentry "Alternate textual installer" {
# linux @KERNEL_DI@ @APPEND_DI@ custom options here
# initrd @INITRD_DI@
# }

# Installer (if any)
if @ENABLE_INSTALL_MENU@; then

source	/boot/grub/install_start.cfg

submenu 'Advanced install options ...' --hotkey=a {

	source /boot/grub/theme.cfg

	source	/boot/grub/install.cfg

}
fi

submenu 'Utilidades...' --hotkey=u {

	source /boot/grub/theme.cfg

	# Memtest (if any)
	if @ENABLE_MEMTEST@; then
		source /boot/grub/memtest.cfg
	fi

	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "Configuración del firmware UEFI" --hotkey=f {
			fwsetup
		}
	fi

	# Verify the checksums
	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Verificar la integridad del medio" --hotkey=v {
			linux	@KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
			initrd	@INITRD_LIVE@
		}
	fi
}
